<% include ./partials/header.ejs %>

    <h1>Home</h1>
    <ul>
        <li><a href = "/search">Go to search page</a></li>
        <li><a href = "/pantry">Go to pantry page</a></li>
        <li><a href = "/favorites">Go to favorites</a></li>
        <li><a href = "/cart">Go to Cart</a></li>
    </ul>
   
<% include ./partials/footer.ejs %>