<% include ./partials/header.ejs %>

    <div class = "search-bar">
        <i class="fas fa-search"></i>
        <input type="text" class = "search">
    </div>
    
    <div class = "search-results">
        
    </div>
    
<% include ./partials/footer.ejs %>