<% include ./partials/header.ejs %>
    
    <h1 class="home-title">Welcome To Your Pantry</h1>
    <h1 class="search-title">Checkout Some Recipes...</h1>
    <div class = "search-bar">
        <i class="fas fa-search"></i>
        <input type="text" class = "search">
    </div>
    
    <div class = "search-results">
        
    </div>
    
    <img class="search-img" src="https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9647d95a500b5e222258fb03ed086ed1&auto=format&fit=crop&w=2000&q=80"/>
    
<% include ./partials/footer.ejs %>