html{
    overflow-y: scroll;
    height: 100%;
}

body {
    position: relative;
    margin:0;
    padding-bottom: 50px;
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    
}

h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Cookie', cursive;
    font-size: 2em;
}

li{
    padding: 1px;
}

.navbar {
    font-family: sans-serif;
    z-index: 10;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: #111;
}

.navbar span{
    float: right;
}
/***************************************

                PANTRY PAGE
        
****************************************/

.pantry-container{
    margin: auto;
    border: 1px solid black;
    width: 485px;
}

.pantry-container .row{
    border: 1px solid gray;
    padding: 5px;
}

.pantry-container span{
    color: #f44336;
    width: 0;
    opacity: 0;
    transition: .2s linear;
}

.pantry-container .row:hover span{
    width: 20px;
    opacity: 1;
    cursor: pointer;
}

.pantry-container .column{
    width: 138px;
    display: inline-block;
    padding: 5px;
    /*border: 1px solid blue;*/
}

#pantryItem-form{
    margin: auto;
    width: 300px;
    border: 1px solid gray;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 2px 5px #aaa;
}

#pantryItem-form input,select{
    width: inherit;
    display: block;
    margin: 5px 0;
}

#pantryItem-form select{
    width: 304px;
}

#pantryItem-form input[type="submit"]{
    color: #28a745;
    background-color: inherit;
    border: 1px solid #28a745;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
    width: 304px;
    border-radius: 5px;
    outline:none;
}

#pantryItem-form input[type="submit"]:hover{
    color: white;
    background-color: #28a745 ;
    border: 1px solid #28a745;
}

#pantryItem-form input[type="submit"]:active{
    color: white;
      background-color: #1d7531 ;
}

#pantryItem-form h3{
    text-align: center;
    margin-top: 0;
}

/*.hidden-row{*/
/*    display: none;*/
/*}*/



/***************************************

                SEARCH PAGE
        
****************************************/
.search-bar{
    position: relative;
    width: 400px;
    margin: auto;
    
}

.fa-search{
    position: absolute;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 1.25em;
    color: #aaa;
    transform: rotate(360deg);
}

input[class="search"]{
    width: 400px;
    border-radius: 30px;
    border:none;
    box-shadow: 0 1px 5px #555;
    background-color: #fcfcfc;
    outline: none;
    font-size: 1.3em;
    box-sizing: border-box;
    padding: 5px 40px;
    display: block;
    margin: auto;
    
}

.home-title{
    font-family: 'Cookie', cursive;
    width: 50%;
    margin: 50px auto;
    font-size: 5em;
    background-image: radial-gradient(rgba(255,255,255, 0.5) 30%, transparent, transparent);
    /*color: white;*/
    
    
}
.search-title{
    font-family: 'Cookie', cursive;
    margin-bottom: 20px;
}

.search-results{
    margin: 40px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.search-results div{
 
    width: 250px;
    text-align: center;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 2px #777;
    font-family: 'Roboto', sans-serif;
    margin: 10px 10px;
    overflow-x: hidden;
    transition: ease-in .05s;
}

.search-results p{
    text-overflow: ellipsis;
    padding: 0 10px;
  /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.search-results div:hover{
   box-shadow: 0 0 15px #aaa;
   cursor: pointer;
}


.search-img{
  top: -1000px;
  z-index: -10;
  position: absolute;
  width: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.8)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    
}


.search-results img{
    display: block;
    width: 250px;
    height: 250px;
}


/**********************************************

        Modal and backdrop in Search page

************************************************/

.backdrop{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: rgba(70,70,70, 0.6);
}


.modal{
    width: 700px;
    height: auto;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -300px;
    margin-left: -350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px #aaa;
    text-align: center;
    padding: 10px;
    z-index: 20; /* 1px higher than the overlay layer */
}

.modal-contents{
    width: inherit;
    height: inherit;
    z-index: 30; 
}

.modal-contents span{
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 0;
}

.modal-contents ul{
    width: 370px;
    line-height: normal;
    text-align: left;
    float: right;

}

.modal-contents div{
   float: left;
   width: 280px;
   margin-bottom: 20px;
}

.modal-contents img{
    line-height: normal;
    margin: 10px 0 0 10px;
    float: left;
    width: 260px;
    height: 260px;
}

.modal-contents button {
    float: left;
    display: block;
    width: 200px;
    margin-left: 40px;
    margin-top: 10px;
}

.modal-contents h3 {
    line-height: normal;
}


/************************************

            FAVORITES
            
*************************************/

.favorite-item{
    position: relative;
    height: 400px;
    width: 60%;
    box-shadow: 0 0 2px #aaa;
    margin: 30px auto 0 auto;
}

.favorite-item h3{
    text-align: center;
    margin:0;
    padding-top: 20px;
    margin-bottom: 30px;

}

.favorite-item img {
    position: absolute;
    bottom: 40px;
    left: 20px;

}

.favorite-item ul{
    width: 40%;
    float: right;
    margin-right: 10%;

}

.favorite-item .item-buttons{
    position: absolute;
    right: 20px;
    bottom: 15px;
}


@media (max-width: 1200px) {
    .favorite-item{
        width: 80%
    }
}

@media (max-width: 900px){
    .favorite-item{
        width: 100%;
    }
}


/************************************

            CART PAGE

*************************************/

.main-container{
   text-align: center;
}

.recipeItems-container{
    margin: 0 auto 50px auto;
    width: 50%;
    border-bottom: 1px solid gray;

    
}


.recipeItems-container ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    
}

.pantry-img{
  top: -300px;
  z-index: -10;
  position: absolute;
  width: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.8)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    
}

.recipeItems-container button{
    text-align: left;
    margin-bottom: 10px;
}


.strikeThrough{
    color: gray;
    background-color: #ddd!important;
    text-decoration: line-through;
}

.cartItem{
    background-color: rgba(239,242,10,0.15);
    padding: 5px;
    border: 1px solid #aaa;
    
}
.cartItem:hover{
    cursor: pointer;
}

.cartItem-pantry{
    background-color: rgba(18,207,10, 0.15);
    padding: 5px;
    border: 1px solid #aaa;
}

.cartItem-pantry:hover{
    cursor: pointer;
}


.sidebar{
    width: 200px;
    height: 100%;
    position: fixed;
    top:40px;
    z-index: -1;
    /*border-right: 1px solid trasnparent;*/
    box-shadow: 2px 0 2px #aaa;
}

.sidebar h3{
    text-align: center;
    padding: 10px 0;
}

.sidebar p{
    padding-left: 5px;
}