<% include ../partials/header.ejs %>

    <h1>Digital Pantry</h1>
    
    

    <div class="pantry-container">
        <div class = "row">
            <div class="column">Item</div>
            <div class="column">Amount</div>
            <div class="column">Unit</div>
        </div>

    <% if(pantryItems !== null){ %>
        
            <% pantryItems.forEach(function(pantryItem){ %>
                <div class = "row" >
                    <span id= "<%=pantryItem.id%>" ><i class='fas fa-times'></i></span>
                    <div class="column"><%=pantryItem.item%></div>
                    <div class="column"><%=pantryItem.amount%></div>
                    <div class="column"><%=pantryItem.unit%></div>
                </div>
            <%  });  %>
    <% } %>

    </div>

    <form id="pantryItem-form">
        <h3>Add To Pantry</h3>
        <input type ='text' name ='item' placeholder = "Item">
        <input type = 'text' name='amount' placeholder='Amount'>
        
        <select name="unit" form = "pantryItem-form">
            <option value="oz">oz</option>
            <option value="ct">ct</option>
            <option value="fl oz">fl oz</option>
            <option value="cup">cup</option>
            <option value="qt">qt</option>
            <option value="gal">gal</option>
            <option value="mL">mL</option>
            <option value="L">L</option>
        </select>
        
        <input type ='submit' value='Create'>
    </form>
    
    
<% include ../partials/footer.ejs %>